<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="django handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\apps\tpr-esteettomyyssovellus\venv\Scripts\python.exe|D:\apps\tpr-esteettomyyssovellus\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <httpRedirect enabled="false" destination="https://asiointi.hel.fi/kapaesteettomyys_testi/maintenance.html" exactDestination="true" />
    </system.webServer>
</configuration>
