html,
body {
  padding: 0;
  margin: 0;
  font-family: HelsinkiGrotesk, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@page {
  margin: 3cm 0cm 5cm 0cm;
  size: A4;
}

header, footer {
  position: fixed;
  left: 0;
  right: 0;
}

header {
  top: -3cm;
  height: 2.5cm;
  background-color: #ccf;
}

footer {
  bottom: -5cm;
  height: 4.5cm;
}

main {
  margin: 0cm 1cm;
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/HelsinkiGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/HelsinkiGrotesk-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/HelsinkiGrotesk-Medium.otf") format("opentype");
}

@font-face {
  font-family: HelsinkiGrotesk;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelsinkiGrotesk-Bold.otf") format("opentype");
}

h1 {
  font-size: 32px !important;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 20px !important;
}

h4 {
  font-size: 18px !important;
}

h5 {
  font-size: 16px !important;
}

.header-container {
  padding: 0.5cm;
}

.header-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.header-text {
  font-weight: 700;
  margin-right: 10px;
}

.header-link {
  font-size: 12px;
}

.hds-koros {
  line-height: 0;
}

.helsinki-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0000bf;
  padding-bottom: 0.5cm;
}

.helsinki-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
}

.helsinki-logo {
  height: 40px;
}

.answer {
  font-weight: 700;
}

.photo img {
  max-width: 100%;
  max-height: 20rem;
}
